

#hullamjobbfent{
    position: absolute;
    height: 180px;
    rotate: -48.5deg;
    right: -82px;
    top: 40%;
}
#hullamjobbkozep{
    position: absolute;
    height: 180px;
    rotate: -48.5deg;
    right: -82px;
    top: 110%;
}

#hullambalfent{
    position: absolute;
    height: 180px;
    rotate: 131.5deg;
    left: -82px;
    top: 20%;
}
#hullambalkozep{
    position: absolute;
    height: 180px;
    rotate: 131.5deg;
    left: -82px;
    top: 90%;
}

#hullamballent{
    position: absolute;
    height: 180px;
    rotate: 131.5deg;
    left: -82px;
    top: 160%;
    
}

#hullamjobblent{
    position: absolute;
    height: 180px;
    rotate: -48.5deg;
    right: -82px;
    top: 200%;
}

#hullamjobblentebb{
    position: absolute;
    height: 180px;
    rotate: -48.5deg;
    right: -82px;
    top: 310%;
}

#hullamjobblentebbannalis{
    position: absolute;
    height: 180px;
    rotate: -48.5deg;
    right: -82px;
    top: 440%;
}

#hullamballentebb{
    position: absolute;
    height: 180px;
    rotate: 131.5deg;
    left: -82px;
    top: 250%;

}

#hullamballentebbannalis{
    position: absolute;
    height: 180px;
    rotate: 131.5deg;
    left: -82px;
    top: 390%;

}