header
{
    background-image: url('Mathiasz.png');
    background-color: #f8f9fa;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 2px solid #dee2e6;
}